﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Интернет магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа компьютеров</h3>
        <table>
            <tr>
                <td><p>Модель компьютера</p></td>
                <td><p>Страна</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Computers)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Country</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>